{% extends 'base.html' %}
{% block content %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=3.0" />
    <title>Personal assistant</title>
    <link rel="stylesheet" href="../static/css/landingcss.css" />
<html>

</body>
</html>


  </head>

  <body>

    <main>

      <div class="big-wrapper">
        <header>
          <div class="container">
            <div class="logo">
              <img src="../static/img/logo.png" alt="Logo" />
               <a class="text-red" href="https://github.com/mrGarmr/Samantha/tree/Dev">Samantha</a>

            </div>
          </div>

        </header>
      </div>


        <div class="showcase-area">
          <div class="container">
            <div class="left">
              <div class="big-title">
                <h1>The future is NOW!</h1>
                <h1>We are here to help you</h1>
              </div>
              <p class="text">
                Sign up now to enjoy our Image Recognition System Today
              </p>
              <div class="cta">
              </div>



      </div>
    </main>
  </body>
</html>
{% endblock %}
